.mid-page h3{
    margin-top: -3vw;
    font-size: 7vw;
    font-style: italic;
    text-align: center;
}

span{
    color: #FFD362;
}

li{
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-top: 1vw;
}

#icon-edit{
    cursor: pointer;
    margin-right: 3vw;
    margin-top: -4vw;
    float: right;
    width: 6vw;
}

#exit-modif{
    cursor: pointer;
    margin-right: 3vw;
    margin-top: -4vw;
    float: right;
    width: 6vw;
}

#icon-disconnection{
    cursor: pointer;
    margin-left: 3vw;
    margin-top: -4vw;
    float: left;
    width: 6vw;
}

button{
    background-color: white;
    cursor: pointer;
    margin-top: 10vw;
    color: #FFD362;
    font-size: 7vw;
    font-style: italic;
    font-weight: bolder;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 10vw;
    border-radius: 4em;
    transition: 0.5s all ease;
}

button:hover{
    color: white;
    background-color: #FFD362;
    transform: scale(1.05);
}

footer{
    margin-top: 10vw;
}

.recap{
    visibility: visible;
}

.infos-changer{
    margin-top: 8vw;
    display: none;
}

input{
    display: block;
    margin: auto;
}

#champ{
    width: 60vw;
    height: 7vw;
}

#submit{
    margin-top: 4vw;
    background-color: white;
    width: 40vw;
    height: 8vw;
    font-weight: bold;
    font-size: 4vw;
    border-radius: 20px;
    color: #FFD362;
    transition: 0.5s all ease;
    cursor: pointer;
}

#submit:hover{
    color: white;
    background-color: #FFD362;
    transform: scale(1.05);
}

#exit-modif{
    display: none;
}