#title-menu{
    margin-left: -15vw;
}

.mid-page{
    margin-top: -6vw;
}

.mid-page h4{
    margin-left: 2vw;
    font-size: 4vw;
}

.mid-page h4::after{
    display: block;
    content: "";
    background-color: #FFD362;
    width: 22vw;
    height: 1.5vw;
    border-radius: 2em;
    margin-left: -3vw;
}

span{
    font-weight: lighter;
    font-size: 3.5vw;
}

.add-icon{
    width: 8vw;
    cursor: pointer;
    padding: -4vw;
    margin-bottom: -6vw;
    margin-left: 2vw;
    transition: 1s all ease;
}

.add-icon:active{
    transform: scale(1.5);
}

h6{
    font-size: 3vw;
    font-weight: lighter;
    text-align: center;
}

.meat-choice{
    margin-right: 10vw;
    margin-top: -6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

li{
    font-size: 3vw;
}

h3{
    text-align: center;
    font-size: 6vw;
}

.cream-choice{
    margin-right: 10vw;
    margin-top: -6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}
