/* ELEMENTS Generaux à la page */

body{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

/* PARTIE Header */

header #logo {
    width: 22vw;
    float: left;
}

#iconMenu {
    display: none;
    margin-top: 1vh;
    margin-right: 3vw;
    width: 16vw;
    float: right;
    cursor: pointer;
}

/* PARTIE En dessous du header */

.sub-header img{
    z-index: 1;
    width: 100%;
}

.sub-header h1{
    text-align: center;
    color: white;
    z-index: 2;
    margin-top: -50vw;
    font-size: 20vw;
    font-weight: bold;
    font-style: italic;
}

.sub-header span{
    color: #FFD362;
}

/* BURGER Menu */

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: start;
    width: 60%;
}

#quit{
    visibility: hidden;
    width: 8vw;
    cursor: pointer;
    padding: 0
}

#illustration{
    float: left;
    width: 12vw;
    margin-left: -4vw;
    margin-top: -2vw;
}

@media (max-width: 650px){

    #iconMenu{
        display: block;
        float: right;
        margin-top: 3vw;
    }
    nav ul{
        position: fixed;
        right: 100%;
        top: 5%;
        flex-direction: column;
        justify-content: space-evenly;
        background: white;
        width: 50%;
        height: 100%;
        text-align: center;
        transition: 0.2s all ease;
    }
    nav li{
        padding: 3px 0;
    }

    nav.active a{
        padding: -100px;
        font-size: 6vw;
        font-weight: bold;
    }
    nav.active ul{
        margin-top: -4vw;
        right: 0;
        position: fixed;
    }
    nav.active #quit {
        visibility: visible;
    }
}

/* TITRES AVEC SOULIGNEMENT */

.mid-page h1{
    font-size: 7vw;
    margin-left: 5vw;
    font-style: italic;
}

.mid-page h1::after{
    content: "";
    display: block;
    width: 40%;
    height: 1vh;
    border-radius: 30px;
    background-color: #FFD362;
}


/* PARTIE Footer */

footer h4{
    font-size: 3vw;
    text-align: center;
    font-weight: lighter;
    padding: 0;
    padding-top: 1vw;
    color: white;
}

footer{
    background-color: black;
    width: 100%;
    bottom: 0;
    height: 9.5vw;
}

footer #instagram-logo{
    float: left;
    width: 14vw;
    margin-top: 0.5vh;
}

footer #facebook-logo{
    float: right;
    width: 10vw;
    margin-top: -0.5vw;
    margin-right: 1vw;
}